.header {
    background-color: #ffffff;
}

.header .header-nav li {
    font-weight: 500;
}

.header-nav a:hover, .header-nav a:focus {
    color: #404bbf;
}

.header-nav a.active {
    color: #404bbf;
}

.header a {
    color: #2e2f42;
    font-style: normal;
}

address a:hover, address a:focus {
    color: #404bbf;
}